@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: sepia(80%);
}

.logo {
  font-size: 4rem;
  color: var(--text-color);

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: "normal";
}
.mobile-icon {
  display: none;
}

.mobile-navbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  .mobile-icon {
    display: block;
    color: aliceblue;
    font-size: 3rem;
    background-color: transparent;
    width: 5rem;
    height: 5rem; 
  }
  .mobile-navbar {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 15rem;
    background-color: rgba(140, 153, 153, 0.309);
    right: 0;
    top: 6rem;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
  .font{
    font-size: 2rem;
    display: flex;
    margin-bottom: 20px;
    color: aliceblue;
  }
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
